# Copyright 2018-2024 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that contributes the Syft CLI which can be used to generate SBoM information"
  homepage = "https://github.com/paketo-buildpacks/syft"
  id = "paketo-buildpacks/syft"
  keywords = ["bom", "sbom", "bill of materials", "syft"]
  name = "Paketo Buildpack for Syft"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/vnd.syft+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/syft/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:anchore:syft:1.38.0:*:*:*:*:*:*:*"]
    id = "syft"
    name = "Syft"
    purl = "pkg:generic/anchore-syft@1.38.0?arch=amd64"
    sha256 = "bc664debb00db1b9b4b9dae4ba1a29d99621e33b641b94b78b9048374b812a3d"
    source = "https://github.com/anchore/syft/archive/refs/tags/v1.38.0.tar.gz"
    source-sha256 = "56131747bc5cd01475ceced9289f6fb527ccd40bc0cb5ff9f528bb04604638eb"
    stacks = ["*"]
    uri = "https://github.com/anchore/syft/releases/download/v1.38.0/syft_1.38.0_linux_amd64.tar.gz"
    version = "1.38.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/anchore/syft/blob/main/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:anchore:syft:1.37.0:*:*:*:*:*:*:*"]
    id = "syft"
    name = "Syft"
    purl = "pkg:generic/anchore-syft@1.37.0?arch=arm64"
    sha256 = "52980b7fd4829ab9561527c775c5adc7ece43eb7f9026e456351cd5b5252fdda"
    source = "https://github.com/anchore/syft/archive/refs/tags/v1.37.0.tar.gz"
    source-sha256 = "1675952c61577db9c5435a8d8b830afe51a38dd35fe7360a8f5c39142908c906"
    stacks = ["*"]
    uri = "https://github.com/anchore/syft/releases/download/v1.37.0/syft_1.37.0_linux_arm64.tar.gz"
    version = "1.37.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/anchore/syft/blob/main/LICENSE"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
